<!DOCTYPE html>
<html lang="en" ng-app="landingApp" ng-controller="MainCtrl as main">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tomasz Szymanek IT Solutions company site">
    <meta name="author" content="Tomasz Szymanek">

    <title>Footag</title>

    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>
    <!-- Page Content -->
    <div class="container">
        <div ng-view></div>
    </div>
    <!-- /.container -->

    <script src="javascripts/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <script src="javascripts/landingApp.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>

</body>

</html>
