
<video class="video hidden-xs hidden-sm hidden-md" autoplay loop poster="../images/background.png" id="bgvid">
		<source src="../videos/background.mp4" type="video/mp4">
</video>
<div class="wrapper hidden-xs hidden-sm hidden-md" ng-controller="newsletterCtrl">
	<div class="confirmation" ng-show="newsletter.confirmed">
		<div class="popup">
			<div class="message" ng-click="close()">
				<div class="text">
					Thank you for signing in!</br>
					Check your e-mail to confirm!
				</div>
			</div>
		</div>
	</div>
	<div class="mask">
		<div class="col-md-12 row">
		<img class="logo" src="../images/logo.png">
		<div class="media">
			<a href="https://instagram.com/footag/"><img src="../images/instagram-32.svg"></a>
			<a href="https://www.facebook.com/Footag"><img src="../images/facebook-32.svg"></a>
		</div>
		</div>

		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="main-text row">
			We are launching in <span> 15 </span> days!</br></br>
			</div>
			<div class="row"></div>
			<div class="sub-text row">Be first to know and get <b>one month free access!</b></br>
			Enter your email below, and let us do the rest.</br></div>
			<div class="row"></div>
			<form name="myForm" novalidate class="newsletter-form">
			<input class="row" name="input" ng-class="{ 'inputerror': myForm.input.$error.email , 'inputreq': myForm.input.$error.required }" type="email" ng-model="newsletter.email" required>
			<div class="row"></div>
				<div role="alert">
      				<span class="error" ng-show="myForm.input.$error.required">
        			EMAIL REQUIRED!</span>
      				<span class="error" ng-show="myForm.input.$error.email">
        			NOT VALID EMAIL ADDRESS!</span>
    			</div>
			<button class="row" type="submit" ng-click="save(newsletter)"><b>Submit!</b></button>
			<!--disabled="{{myForm.input.$error.required}}" -->
			</form>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>

<div class="mobile 	visible-xs visible-sm visible-md">
	<!--<img class="logo" src="../images/logo.png">-->
	<div class="main-text">
			We are launching in <span> 15 </span> days!
		</div>
		<div class="sub-text">
			Be first to know and get <b>one month free access!</b></br>
			<!--Enter your email below, and let us do the rest.-->
		</div>
</div>
